
<mat-toolbar color="primary">
  <a routerLink="">Milestone</a>
  <span class="flex-spacer"></span>
  <user-profile></user-profile>    
</mat-toolbar>

<div class="content">
  <div style="padding: 20px;">
    <div fxLayout="row" fxLayoutAlign="start start">
        <live-price fxFlex="50%" currencyType="ETH-USD"></live-price>
        <live-price fxFlex="50%" currencyType="BTC-USD"></live-price>
    </div>
    <main [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
</div>  


