<h2 mat-dialog-title>Create a Room</h2>
<mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input name="name" [(ngModel)]="room.name" [ngModelOptions]="{standalone: true}" matInput placeholder="name" type="text">
    </mat-form-field>
    <mat-form-field class="demo-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let contact of room.invitees" [selectable]="true"
                   [removable]="true" (remove)="remove(contact)">
            {{contact.email}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Invitee email..."
                 [matChipInputFor]="chipList"
                 [matChipInputAddOnBlur]="true"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="createRoom()">Create</button>
</mat-dialog-actions>