

<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>
<!-- User NOT logged in -->
<ng-template #guest style="max-width: 400px;">
    <button mat-button mat-raised-button color="accent" (click)="auth.googleLogin()">
        <mat-icon class="fa fa-google fa-2x"></mat-icon> Sign in
    </button>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <button mat-button mat-icon-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar [src]="user.photoURL" alt="Photo of {{ user.displayName }}" class="example-header-image">
        {{ user.balance | currency }}
    </button>
    <mat-menu #menu="matMenu">
      <mat-list>
        <mat-list-item>
            {{ user.displayName }}         
        </mat-list-item>
        <mat-list-item>
          <h2>{{ user.balance | currency }}</h2>
        </mat-list-item>
        <mat-list-item>
            <button mat-button color="accent" (click)="auth.signOut()">Logout</button>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </div>

  <div *ngIf="auth.user | async as user" style="max-width: 400px;">
      
    <div fxLayout="row" fxLayoutAlign="start center">
    </div>      
  </div>
</ng-template>